{% load static %}


<footer class="footer px-5">
        <div class="footer-content d-flex justify-content-evenly">
          <div class=" p-4 col-md-3 ">
          <img src="{% static 'images/logo.jpeg' %}" alt="logo" width="75" class="border rounded rounded-2 ">
        <p class="my-2">Khojbazaar is your one-stop online marketplace for discovering and shopping a wide range of products.
We aim to make online shopping simple, convenient, and reliable, bringing quality products right to your doorstep.
Shop smart. Shop easy. Shop at Khojbazaar.</p>
        </div>
          <div class="link col-md-2 ">
            <h4>Quick links</h4>
            <a href="#"><p>>Home</p></a>
            <a href="#"><p>>About Us</p></a>
            <a href="#"><p>>Contact Us</p></a>
          </div>
          <div class="col-md-2">
            <h4>Contact Us</h4>
            <p><i class="bi bi-house-fill"></i> Lagankhel, Mahalaxmisthan Road, GM Complex, Lalitpur</p>
            <p><i class="bi bi-telephone-fill"></i> 977-9867428466</p>
            <p><i class="bi bi-envelope-fill"></i> bimalrijal56@gmail.com</p>
          </div>
          <div class="col-md-2">
            <h4>Follow Us</h4>
            <a href="#"class="btn btn-outline-dark rounded-circle"><i class="bi bi-facebook"></i></a>
            <a href="#"class="btn btn-outline-dark rounded-circle"><i class="bi bi-instagram"></i></a>
            <a href="#"class="btn btn-outline-dark rounded-circle"><i class="bi bi-twitter"></i></a>
          </div>
          
        </div>
        <hr>
        <p class="d-flex justify-content-center">©Copyright 2025 Khojbazaar Nepal. All Rights Reserves</p>
      </footer>