<footer class="bg-info-subtle px-5">
        <div class="footer-content d-flex justify-content-evenly">
          <div class=" p-4 col-md-3 ">
          <img src="{{data.logo.url}}" alt="logo" width="75">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste officiis hic tempora tenetur, omnis pariatur nemo magni commodi saepe! Nostrum necessitatibus praesentium enim maiores molestiae excepturi aliquam obcaecati beatae quae!</p>
        </div>
          <div class="link col-md-2 ">
            <h4>Quick links</h4>
            <a href="#"><p>>Home</p></a>
            <a href="#"><p>>About Us</p></a>
            <a href="#"><p>>Contact Us</p></a>
          </div>
          <div class="col-md-2">
            <h4>Contact Us</h4>
            <p>🏠︎ Lagankhel, Mahalaxmisthan Road, GM Complex, Lalitpur</p>
            <p>📞 977-9867428466</p>
            <p>✉︎ bimalrijal56@gmail.com</p>
          </div>
          <div class="col-md-2">
            <h4>Follow Us</h4>
            <a href="#"class="btn btn-outline-dark rounded-circle"><i class="bi bi-facebook"></i></a>
            <a href="#"class="btn btn-outline-dark rounded-circle"><i class="bi bi-instagram"></i></a>
            <a href="#"class="btn btn-outline-dark rounded-circle"><i class="bi bi-twitter"></i></a>
          </div>
          
        </div>
        <hr>
        <p class="d-flex justify-content-center">©Copyright 2025 Rijal Bazaar Nepal. All Rights Reserves</p>
      </footer>