{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load socialaccount%}
{% load static %}

{% block title %}
    Login User
{% endblock  %}

{% block main-content %}

    <div class="container my-5" id='login'>
        <div class="col-md-5 m-auto shadow p-3 rounded-4 border-top border-warning border-5">
            <h2 class="text-center">Login To Your Account!!</h2>
            <hr>
            <form action="#" method="post" autocomplete="off">
                {% csrf_token %}
                {{ form | crispy }}

                <div class="button text-center my-2">
                    <input type="submit" value="Login" class="btn btn-warning">
                </div>
                <hr class="col-6 m-auto my-2">
                <p class="text-center">Are you New ?
                    <a href="{%  url 'register' %}">Register here</a>
                </p>
                <a href="{% provider_login_url 'google' %}" class="btn btn-outline-dark d-flex w-50">Login with Google
                    <div class="mx-2">
                        <img src="{% static 'images/google-logo.png' %}" class="google-logo" alt="G">
                    </div>
                </a>
            </form>
        </div>

    </div>
{% endblock  %}

{% block script %}

{% endblock  %}